*{
    box-sizing: border-box;
}
.header{
    color: rgb(17, 0, 255);
    font-style: inherit;
    text-align: center;
    border: 1px solid red;
    padding: 15px;
}
.photo{
    width: 300px;
    height: 300px;
    padding: 15px;
    border: 1px solid red;
    float: left;
}
.paragraph{
    font-style: initial;
    padding: 15px;
    border: 1px solid red;
    float: left;
    width: 50%;
}
.menu{
    color: blue;
}
.up{
    background-color: blueviolet;
    float: left;
    padding: 15px;
    border: 1px;
    color: white;
    margin: 2px 2px;
    width: 30%;
    cursor: pointer;
}
.down{
    text-align: center;
    font-style: inherit;
    border: 1px solid red;
    color: cadetblue;
    padding: 15px;
    float: left;
}
.left{
    font-style: oblique;
    border: 1px solid red;
    color: brown;
    padding: 15px;
    float: left;
    width: 100%;
}
.stop{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
}
.right{
    padding: 15px;
    border: 1px solid red;
    font-style: italic;
    float: left;
    width: 50%;
}
.top{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
}
.bottom{
    padding: 15px;
    border: 1px solid red;
    float: left;
    width: 50%;
}
.wave{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
}
.fast{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
    font-style: normalS;
}
.slow{
    font-style: oblique;
    border: 1px solid red;
    color: blueviolet;
    padding: 15px;
    float: left;
    width: 100%;
}
.robot{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
}
.dog{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
}
.cat{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
}
.cats{
    padding: 15px;
    border: 1px solid red;
    width: 50%;
    float: left;
}
.mice{
    padding: 15px;
    border: 1px solid red;
    width: 100%;
    float: left;
    text-align: center;
}
.mouse{
    color: rgb(225, 127, 255);
    font-style: inherit;
}
.ladder{
    color: cornflowerblue;
    font-style: bold;
}
.leader{
    background-color: blueviolet;
    padding: 15px;
    border: 1px;
    color: white;
    margin: 2px 2px;
    cursor: pointer;
}